<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
	<form action= "/books" method= "post"> 
		Title: <input type= "text" name = "title">
		Author: <input type = "text" name = "author">
		Cover Image: <input type = "text" name = "image">
		<input type="submit" value="Add">
	</form>
</body>
</html>